<h1>Month: <%= @month.month_name %></h1>

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<h2>Focus:</h2>
				<p><%= @month.month_focus %></p>
			<h2>Habit:</h2>
				<p><%= @month.month_habit %></p>
			<h2>Goals for the month:</h2>
				<p>1. <%= @month.month_goal_1 %></p>
				<p>2. <%= @month.month_goal_2 %></p>
				<p>3. <%= @month.month_goal_3 %></p>
			<h2>Distractions to avoid:</h2>
				<p>1. <%= @month.month_distraction_1 %></p>
				<p>2. <%= @month.month_distraction_2 %></p>
				<p>3. <%= @month.month_distraction_3 %></p>
      	</div>
		<div class="col-lg-4">
        	<h2>Notes</h2>
				<p><%= @month.month_notes %></p>
			<h2>Wins of the month:</h2>
				<p>1. <%= @month.month_win_1 %></p>
				<p>2. <%= @month.month_win_2 %></p>
				<p>3. <%= @month.month_win_3 %></p>
			<h2>Insights:</h2>
				<p>1. <%= @month.month_insight_1 %></p>
				<p>2. <%= @month.month_insight_2 %></p>
				<p>3. <%= @month.month_insight_3 %></p>
      	</div>
      	<div class="col-lg-4">
			<h2>Weeks of this month:</h2>
				<% @month.weeks.each do |week| %>
  				<p><%= "#{week.week_number}. "%><%= link_to week.week_day_date, week_path(week) %></p>
			<% end %>
    	</div>
    </div>
  </div>

<button class="js-weeks" data-id="<%= @month.id %>">Weeks of this Month</button>

<script type="text/javascript" charset="utf-8">	
 $(function () {
   $(".js-weeks").on("click", function() {
     var nextId = parseInt($(".js-weeks").attr("data-id")) + 1;
     $.get("/months/" + nextId + "/weeks"+ ".json", function(data) {
       $(".dayDayDate").text(data["day_day_date"]);
       $(".dayGrateful1").text(data["day_grateful_1"]);
       $(".dayGrateful2").text(data["day_grateful_2"]);
       $(".dayGrateful3").text(data["day_grateful_3"]);
       $(".dayExcited1").text(data["day_excited_1"]);
       $(".dayExcited2").text(data["day_excited_2"]);
       $(".dayExcited3").text(data["day_excited_3"]);
       // re-set the id to current on the link
       $(".js-weeks").attr("data-id", data["id"]);
     });
   });
 });
 </script>

<%= link_to("Edit #{@month.month_name}", edit_month_path) %><br>
<%= link_to("Delete #{@month.month_name}", month_path(@month), method: :delete, data: { confirm: 'Are you sure?' } ) %>



