<h1>Hour: <%= @hour.hour_number %></h1>

<div>
	<h2><%= @hour.hour_number %> </h2> 
	 
	<% @hour.days.each do |day| %>
	  <%= link_to day.day_day_date, day_path(day) %>
	<% end %>
</div>


<%= link_to("Edit #{@hour.hour_number}", edit_hour_path) %><br>
<%= link_to("Delete #{@hour.hour_number}", hour_path(@hour), method: :delete, data: { confirm: 'Are you sure?' } ) %>

