<h3>Day Form</h3>

<%= form_for(@day) do |f| %>
  <label>Day and date:</label><br>
  <%= f.text_field :day_day_date %><br>
 
  <label>3 things you are grateful for</label><br>
  <%= f.text_field :day_grateful_1 %><br>
  <%= f.text_field :day_grateful_2 %><br>
  <%= f.text_field :day_grateful_3 %><br>
 
  <%= f.submit %>
<% end %>