<h1>Here are all of your days:</h1>
<% @days.each do |day| %>
  <li><%= link_to day.day_day_date, day_path(day) %></li>
<!--  <% day.tasks.each do |task| %>
    <li><%= task.task_content %></li>
  <% end %>-->
  <div id="day-<%= day.id %>">Affirmation: <%= day.day_affirmation %></div>
  <button class="js-more" data-id="<%= day.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/days/" + id + ".json", function(response) {
    	var dayAffirmation = response["day_affirmation"];
        var dayFocus = response["day_focus"];
        var dayExercise = response["day_exercise"];

        var hourLIs = response["hours"].map(function (hour) {
          return "<li> Hour: " + hour["hour_number"] + "</li>"}).join('');

        var taskLIs = response["hours"].map(function (hour) {
          return "<li> Task: " + hour["id"]["task_content"] + "</li>"


        }).join('');



        var dayText = "<p> Affirmation: " + dayAffirmation + "</p><p> Focus: "+ dayFocus + "</p><p> Exercise: " + dayExercise + "</p><ul>" + hourLIs + "</ul>" + "<ul>" + taskLIs + "</ul>";

        $("#day-" + id).html(dayText);
    });
  });
});
</script>


