<h1>New Day Form</h1>

<!--<% if @day.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@day.errors.count, "error") %>
      prohibited this day from being saved:
    </h2>
 
    <ul>
    <% @day.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>-->

<%= form_for(@day) do |f| %>
  <div class="field">
    <%= f.label :day_day_date %><br>
    <%= f.text_field :day_day_date %><br>
  </div>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.hidden_field :user_id, :value => @user.id %>
  </div>
 
  <div class="field">
    <%= f.label :day_grateful_1 %><br>
    <%= f.text_field :day_grateful_1 %><br>
  </div>
  <div class="field">
    <%= f.label :day_grateful_2 %><br>
    <%= f.text_field :day_grateful_2 %><br>
  </div>
  <div class="field">
    <%= f.label :day_grateful_3 %><br>
    <%= f.text_field :day_grateful_3 %><br>
  </div>

  <div class="field">
    <%= f.label :day_excited_1 %><br>
    <%= f.text_field :day_excited_1 %><br>
  </div>
  <div class="field">  
    <%= f.label :day_excited_2 %><br>
    <%= f.text_field :day_excited_2 %><br>
  </div>
  <div class="field">
    <%= f.label :day_excited_3 %><br>
    <%= f.text_field :day_excited_3 %><br>
  </div>

  <div class="field">
    <%= f.label :day_affirmation %><br>
    <%= f.text_field :day_affirmation %><br>
  </div>

  <div class="field">
    <%= f.label :day_focus %><br>
    <%= f.text_field :day_focus %><br>
  </div>

  <div class="field">
    <%= f.label :day_exercise %><br>
    <%= f.text_field :day_exercise %><br>
  </div>

  <div class="field">
    <%= f.label :day_priority_1 %><br>
    <%= f.text_field :day_priority_1 %><br>
  </div>
  <div class="field">
    <%= f.label :day_priority_2 %><br>
    <%= f.text_field :day_priority_2 %><br>
  </div>
  <div class="field">
    <%= f.label :day_priority_3 %><br>
    <%= f.text_field :day_priority_3 %><br>
  </div>
  <div class="field">
    <%= f.label :day_priority_4 %><br>
    <%= f.text_field :day_priority_4 %><br>
  </div>
  <div class="field">
    <%= f.label :day_priority_5 %><br>
    <%= f.text_field :day_priority_5 %><br>
  </div>

  <h3>This is where the tasks/hours should be:</h3><br>
    <label>Hours and Task Content:</label><br>
    <p>If you haven't already, please go generate some hours (in military time 24:00). </p>
    <p>You must enter something in each line. If you have nothing for that hour, use "NA".</p>

<!--    <% Hour.all.each do |hour|%>
      <%= f.fields_for :tasks do |task| %>
        <%= hour.hour_number %>.
        <%= task.text_field :task_content %> 
        <%= task.hidden_field :day_id, :value => @day.id %>
        <%= task.hidden_field :hour_id, :value => hour.id %><br>
      <% end %><br>
    <% end %>-->
  <div class="field">  
    <%= render partial: "hour", locals: { f: f } %>
  </div>

  <div class="field">
    <%= f.label :day_task_1 %><br>
    <%= f.text_field :day_task_1 %><br>
  </div>
  <div class="field">
    <%= f.label :day_task_2 %><br>
    <%= f.text_field :day_task_2 %><br>
  </div>
  <div class="field">
    <%= f.label :day_task_3 %><br>
    <%= f.text_field :day_task_3 %><br>
  </div>
  <div class="field">
    <%= f.label :day_task_4 %><br>
    <%= f.text_field :day_task_4 %><br>
  </div>
  <div class="field">
    <%= f.label :day_task_5 %><br>
    <%= f.text_field :day_task_5 %><br>
  </div>
  <div class="field">
    <%= f.label :day_task_6 %><br>
    <%= f.text_field :day_task_6 %><br>
  </div>
  <div class="field">
    <%= f.label :day_task_7 %><br>
    <%= f.text_field :day_task_7 %><br>
  </div>
  <div class="field">
    <%= f.label :day_task_8 %><br>
    <%= f.text_field :day_task_8 %><br>
  </div>
  <div class="field">
    <%= f.label :day_task_9 %><br>
    <%= f.text_field :day_task_9 %><br>
  </div>
  <div class="field">
    <%= f.label :day_task_10 %><br>
    <%= f.text_field :day_task_10 %><br>
  </div>

  <div class="field">
    <%= f.label :day_notes %><br>
    <%= f.text_field :day_notes %><br>
  </div>

  <div class="field">
    <%= f.label :day_win_1 %><br>
    <%= f.text_field :day_win_1 %><br>
  </div>
  <div class="field">
    <%= f.label :day_win_2 %><br>
    <%= f.text_field :day_win_2 %><br>
  </div>
  <div class="field">
    <%= f.label :day_win_3 %><br>
    <%= f.text_field :day_win_3 %><br>
  </div>

  <div class="field">
    <%= f.label :day_improvement %><br>
    <%= f.text_field :day_improvement %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div class="dayResult">
  <h2 id="dayDayDate"></h2>
  <p id="dayGrateful1"></p>
  <p id="dayGrateful2"></p>
  <p id="dayGrateful3"></p>
  <p id="dayExcited1"></p>
  <p id="dayExcited2"></p>
  <p id="dayExcited3"></p>
  <p id="dayAffirmation"></p>
  <p id="dayFocus"></p>
  <p id="dayExercise"></p>
  <p id="dayPriority1"></p>
  <p id="dayPriority2"></p>
  <p id="dayPriority3"></p>
  <p id="dayPriority4"></p>
  <p id="dayPriority5"></p>
  <p id="dayTasks"></p>
  <p id="dayTask1"></p>
  <p id="dayTask2"></p>
  <p id="dayTask3"></p>
  <p id="dayTask4"></p>
  <p id="dayTask5"></p>
  <p id="dayTask6"></p>
  <p id="dayTask7"></p>
  <p id="dayTask8"></p>
  <p id="dayTask9"></p>
  <p id="dayTask10"></p>
  <p id="dayNotes"></p>
  <p id="dayWin1"></p>
  <p id="dayWin2"></p>
  <p id="dayWin3"></p>
  <p id="dayImprovement"></p>

</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
//      alert("we r hack3rz");
      var values = $(this).serialize();
 
      //var posting = $.post('/posts', values);
      var dy = $.post('/days', values);
 
      dy.done(function(data) {
        var day = data;
        $("#dayDayDate").text(day["day_day_date"]);
        $("#dayGrateful1").text(day["day_grateful_1"]);
        $("#dayGrateful2").text(day["day_grateful_2"]);
        $("#dayGrateful3").text(day["day_grateful_3"]);
        $("#dayExcited1").text(day["day_excited_1"]);
        $("#dayExcited2").text(day["day_excited_2"]);
        $("#dayExcited3").text(day["day_excited_3"]);
        $("#dayAffirmation").text(day["day_affirmation"]);
        $("#dayFocus").text(day["day_focus"]);
        $("#dayExercise").text(day["day_exercise"]);
        $("#dayPriority1").text(day["day_priority_1"]);
        $("#dayPriority2").text(day["day_priority_2"]);
        $("#dayPriority3").text(day["day_priority_3"]);
        $("#dayPriority4").text(day["day_priority_4"]);
        $("#dayPriority5").text(day["day_priority_5"]);
        $("#dayTasks").text(day["tasks"]);
        $("#dayTask1").text(day["day_task_1"]);
        $("#dayTask2").text(day["day_task_2"]);
        $("#dayTask3").text(day["day_task_3"]);
        $("#dayTask4").text(day["day_task_4"]);
        $("#dayTask5").text(day["day_task_5"]);
        $("#dayTask6").text(day["day_task_6"]);
        $("#dayTask7").text(day["day_task_7"]);
        $("#dayTask8").text(day["day_task_8"]);
        $("#dayTask9").text(day["day_task_9"]);
        $("#dayTask10").text(day["day_task_10"]);
        $("#dayNotes").text(day["day_notes"]);
        $("#dayWin1").text(day["day_win_1"]);
        $("#dayWin2").text(day["day_win_2"]);
        $("#dayWin3").text(day["day_win_3"]);
        $("#dayImprovement").text(day["day_improvement"]);
      });
    });
  });
</script>

