<h3>Day Form</h3>

<%= form_tag days_path do %>
  <label>Day and date:</label><br>
  <%= text_field_tag :day_day_date %><br>
 
  <label>3 things you are grateful for</label><br>
  <%= text_area_tag :day_grateful_1 %><br>
  <%= text_area_tag :day_grateful_2 %><br>
  <%= text_area_tag :day_grateful_3 %><br>
 
  <%= submit_tag "Submit Day" %>
<% end %>