<div class="container">
    <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Months", months_path %></li>
            <li><%= link_to "Weeks", weeks_path %></li>
            <li><%= link_to "Days", days_path %></li>
            <li><%= link_to "Settings", edit_user_registration_path %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        </ul>
    <% end %>
</div>