<!DOCTYPE html>
<html>
  <head>
    <title>PlannerOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/sign_in' %>
      <%= yield %>
      <%= render 'layouts/new_links' %>
    <% else %>
      <%= render 'layouts/header' %>
      <%= yield %>
    <% end %>
    
  </body>
</html>
