<!DOCTYPE html>
<html>
  <head>
    <title>PlannerOnRails</title>
    <%= csrf_meta_tags %>


  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/sign_in' %>
      <%= yield %>
      <%= render 'layouts/new_links' %>
    <% else %>
      <%= render 'layouts/header' %>
      <%= yield %>
    <% end %>
    
  </body>
</html>
